/* ajustar */

#nav-top {
    background-color: #35353a;
}

#buy-tickets {
    color: rgb(64, 159, 64);
}

#contenedorFormulario{
    margin: 30px;
}

#contenedor-banner {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 450px;
}

.carouselExampleControlsNoTouching{
    position: absolute;
}

.banner {
    text-align: right;
    background-size: cover;
    position: relative;
}


.banner-info {
    position: relative;
}

#img-wall {
    max-width: 100%;
    transform: translate();
    opacity: 0.6;
}

.middle {
    text-align: center;
    line-height: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conoce {
    text-transform: uppercase;
    font-size: smaller;
}

.oradores {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 600;
}

.card-other {
    max-width: 22rem;
}

.card-compra {
    text-align: center;
    max-width: 300px !important
}

.contenedor-texto {
    margin: 20px;
}

.subrayado-puntos {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

#album_principal {
    width: 80%;
}


footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

}

#nav-footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(0,34,42,1) 0%, rgba(0,67,83,1) 100%);
}

#nav-footer .container .navbar-nav {
    justify-content: space-between;
    width: 100%;
}

#nav-footer .container .navbar-nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nav-footer .container .navbar-nav li a:hover {
    color: rgb(171, 171, 171);
}

#footer-list {
    align-items: center;
}

#enviar-button {
    width: 100%;
    background-color: #98ca50;
    color: white
}

footer {
    overflow: hidden;
    bottom: 0;
    position: relative !important
}

#btn_borrar {
    background-color: #6ebc01;
    border-color: #62a800;
}

#btn_resumen {
    background-color: #6ebc01;
    border-color: #62a800;
}

#btn_borrar:hover {
    background-color: #62a800;
}

#btn_resumen:hover {
    background-color: #62a800;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }


    footer {
        text-align: center;
    }


    .parent {
        display: block;
        padding-bottom: 20px;
    }

    .card-compra {
        margin-bottom: 10px;
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
        height: 240px;
    }

    #album_principal {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .parent {
        display: block;
        padding-bottom: 20px;
    }

    .card-compra {
        margin-bottom: 10px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

    footer {
        text-align: center;
    }

    .parent {
        display: block;
        padding-bottom: 20px;
    }

    .card-compra {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1025px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }

}